#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 3px solid #232323;
    position: fixed;
    border-radius: 4px;
    z-index: 101;
    pointer-events: none;
    transition: 0.5s;
    display: block;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 3px solid #141414;
    position: fixed;
    border-radius: 100px;
    z-index: 102;
    pointer-events: none;
}